@media only screen and (min-width: 993px) {
    nav a.button-collapse {
        display: block;
    }
}
.zero-m{
    margin: 0 !important;
}
.zero-p{
    padding: 0 !important;
}
.no-shadow{
    box-shadow: 0 0 0;
}
.tabs .indicator{
    background-color: #673ab7;
}
.tabs .tab a{
    color: #673ab7;
}
.tabs .tab a:hover {
    color: #914bf4;
}
nav{
    background-color: #26a69a;
}
/*ul.collapsible{*/
    /*margin-top: 0px;*/
/*}*/